.btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    transition: color 0.2s ease, background-color 0.2s ease;
    margin-right: 20px;
    display: inline-flex;
    font-size: 1rem;
    align-items: center;
}

.btn:last-child {
    margin-right: 0;
}

.btn-primary {
    background-color: #766df4;
    color: white;
    border: 2px solid #766df4;
}

.btn-primary .svg {
    fill: #ffffff;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.btn-primary:hover {
    background-color: #5549f1;
    border: 2px solid #5549f1;
    color: #ffffff;
}

.btn-secondary {
    background-color: white;
    border: 2px solid #766df4;
    color: #766df4;
}

.btn-secondary:hover {
    background-color: #766df4;
    color: white;
}